.App {
  text-align: center;
  margin: 0 100px 0 100px;
}

.jumbotron {
  color: #eb7070;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;

}

.image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.imageDivs {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

.textRendering {
  width: 300px;
  height: 285px;
  background-color: #ffffc5
  
}

.thumbsup {
  width: 30px;
  height: 25px;
}

.btn {
  margin: 5px;
}

h6 {
  display: inline-block;
}

.leftside, .rightside {
  height: 100%;
  padding-top: 100px;
  
}

.leftside {
  background-color: #eb7070;
}

.rightside {
  background-color: aqua;
  text-align: left;
}

.inputs {
  margin: 5px;
  margin-left: 50px;
}

h4 {
  text-align: center;
  padding: 10px;
}